@use "node_modules/bootstrap/scss/bootstrap.scss";
@use "./variables.scss";
@use "./mixins.scss";
@use "./utilities/themes.scss";

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.theme-elements {
  background-color: var(--background-color);
  border-color: var(--border-color);
  caret-color: var(--caret-color);
  color: var(--color);
  column-rule-color: var(--column-rule-color);
  outline-color: var(--outline-color);
  text-decoration-color: var(--text-decoration-color);
  font-family: var(--fontstack-tertiary);
  font-size: large;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.page {
  @extend .theme-elements !optional;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0.5%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
}

// .bg-img {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   background-image: var(--background-image);
// }

h1,
h2 {
  font-family: var(--fontstack-primary);
}

h3,
h4,
h5,
h6 {
  font-family: var(--fontstack-secondary);
}

article {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  @extend .sticky-bottom !optional;
}

.card {
  @extend .card !optional;
  @extend .theme-elements !optional;
  background: transparent;
  overflow: scroll;
  border: 0;
}
