@use "node_modules/bootstrap/scss/bootstrap.scss";
@use "./variables.scss";
@use "./mixins.scss";
@use "./utilities/themes.scss";

.theme-elements {
  background-color: var(--background-color);
  border-color: var(--border-color);
  caret-color: var(--caret-color);
  color: var(--color);
  column-rule-color: var(--column-rule-color);
  outline-color: var(--outline-color);
  text-decoration-color: var(--text-decoration-color);
  font-family: var(--fontstack-tertiary);
  font-size: large;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.page {
  @extend .theme-elements !optional;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0.5%;
  padding-top: 0;
  padding-bottom: 0;
}

h1,
h2 {
  font-family: var(--fontstack-primary);
}

h3,
h4,
h5,
h6 {
  font-family: var(--fontstack-secondary);
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

article {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  @extend .theme-elements !optional;
}

main {
  flex-grow: 1;
}

footer {
  @extend .sticky-bottom !optional;
}

.h-wrapper {
  justify-self: center;
  max-height: 100%;
}

.v-wrapper {
  max-width: 100%;
}

.card {
  background-color: var(--background-color);
  border-color: var(--border-color);
  caret-color: var(--caret-color);
  color: var(--color);
  column-rule-color: var(--column-rule-color);
  outline-color: var(--outline-color);
  text-decoration-color: var(--text-decoration-color);
  font-family: var(--fontstack-tertiary);
  font-size: large;
  font-weight: bold;
  overflow: scroll;
  transition: all 0.5s ease-in-out;
  border: 0;
}
