@use "node_modules/bootstrap/scss/bootstrap.scss";
@use "./variables.scss";
@use "./mixins.scss";

[data-theme="custom-light"] {
  --background-color: #d2d8db;
  --border-color: #202528;
  --caret-color: #282024;
  --color: #2d3539;
  --column-rule-color: #392d33;
  --outline-color: #39372d;
  --text-decoration-color: #392d33;
}

[data-theme="custom-dark"] {
  --background-color: #2d3539;
  --border-color: #939799;
  --caret-color: #999396;
  --color: #d2d8db;
  --column-rule-color: #dbd2d7;
  --outline-color: #dbdad2;
  --text-decoration-color: #dbd2d7;
}
.page {
  background-color: var(--background-color);
  border-color: var(--border-color);
  caret-color: var(--caret-color);
  color: var(--color);
  column-rule-color: var(--column-rule-color);
  outline-color: var(--outline-color);
  text-decoration-color: var(--text-decoration-color);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  min-height: calc(100vh);
  transition: all 0.5s;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

article {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

footer {
  @extend .fixed-bottom !optional;
}

.h-wrapper {
  max-height: 100%;
}

.v-wrapper {
  max-width: 100%;
}
