@use "node_modules/bootstrap/scss/bootstrap.scss";

.theme-buttons {
  @extend .btn !optional;
  @extend .btn-lg !optional;
  @extend .btn-floating !optional;
  @extend .rounded-circle !optional;
  color: var(--text-primary);
  background: transparent;
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
  justify-content: center;

  &:hover {
    background-color: transparentize($color: #808080, $amount: 0.75);
  }
}

.site-name {
  box-sizing: border-box;
  padding-top: 5px;
}
